.Xauthority
.android
.bash_history
.bash_logout
.bash_profile
.cache
.config/Android\ Open\ Source\ Project
.config/Code/
.config/Code\ -\ OSS
.config/Electron
.config/Google
.config/Google/
.config/cef_user_data
.config/coc
.config/coc/
.config/dconf
.config/flutter
.config/mimeapps.list
.config/pulse
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yay
.dart
.dartServer
.emulator_console_auth_token
.expo
.flutter
.flutter-devtools
.git
.gitconfig
.gradle
.icons
.java
.lesshst
.local
.mozilla
.npm
.pki
.pub-cache
.pulse-cookie
.react-native-cli
.rustup
.steam
.steampath
.steampid
.themes
.vim/autoload
.vim/plugged
.vim/sessions
.viminfo
.vscode
.vscode-oss
Android
Desktop
Documents
Downloads
Public
Videos
android-studio
flutter
steam.desktop
yay
.vim/plugged/coc.nvim
.vim/plugged/coc.nvim
