configuration {
modi: "drun";
theme: "gruvbox-dark-hard";
width: 20;
lines: 10;
yoffset: 300;             
xoffset: 0;
show-icons: true;
font: "Hack Nerd Font 14";
      combi-modi: "window,drun,ssh";
}
